{% extends "NSPArticleBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Ajout Article {% endblock %} 
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/ajoutArticle.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/ajoutArticle'~article.theme.nom~'.css') }}">
{% endblock %} 

{% block body %}

<div class="interface-ajout">
    <div class="choix-theme-selection">
        <h1>Thèmes</h1>
        <div class="theme-choix-container">
            <div class="theme-choix" data-id-theme="1"><img src="{{ asset('ressources/theme1.png') }}" alt=""></div>
            <div class="theme-choix" data-id-theme="2"><img src="{{ asset('ressources/theme2.png') }}" alt=""></div>
            <div class="theme-choix" data-id-theme="3"><img src="{{ asset('ressources/theme3.png') }}" alt=""></div>
            <div class="theme-choix" data-id-theme="4"><img src="{{ asset('ressources/theme4.png') }}" alt=""></div>
            <div class="theme-choix" data-id-theme="5"><img src="{{ asset('ressources/theme5.png') }}" alt=""></div>
            <div class="theme-choix" data-id-theme="6"><img src="{{ asset('ressources/theme6.png') }}" alt=""></div>
        </div>
    </div>

    <div class="formulaire-ajout-article">

        
        {{ form_start(formArticle, {'attr': {'class': 'form-article'}}) }}

        <div class="fond-blanc1"></div>
        <div class="fond-blanc2"></div>

        {% if article.photos[0].format != 'n/a' %}
        <div class="photo-principale"><img src="{{ asset(article.photos[0].webPath) }}" /></div>
        {% endif %}
        

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(formArticle) }}


        <div class="">
          {# Génération du label. #}
          {{ form_label(formArticle.titre, "Titre de l'article", {'label_attr': {'class': 'label'}}) }}

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(formArticle.titre) }}

          <div class="">
            {# Génération de l'input. #}
            {{ form_widget(formArticle.titre, {'attr': {'class': 'form-titre'}}) }}
          </div>
        </div>
        
        <div class="">
          {# Génération du label. #}
          {{ form_label(formArticle.chapeau, "Chapeau de l'article", {'label_attr': {'class': 'label label-chapeau'}}) }}

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(formArticle.titre) }}

          <div class="">
            {# Génération de l'input. #}
            {{ form_widget(formArticle.chapeau, {'attr': {'class': 'form-chapeau'}}) }}
          </div>
        </div>
        
               
        {% if article.theme.nom == 'theme6' %}
        {%  set z = 0 %}            
        <div class="mosaique">
        {% for photo in article.photos if z in 0..5 and article.photos[z].format != 'n/a' %}
        
        <div class="photoredim" ><img src="{{ asset(article.photos[z].webPath) }}" alt=""></div> 
        {%  set z = z +1 %}  
        {% endfor %}
        </div>
        {% endif %}
    
   
        {% if article.theme.nom == 'theme1' and article.photos[0].format != 'n/a' %}
        <div class="photo-theme1 photoredim"><img src="{{ asset(article.photos[0].webPath) }}" /></div>
        {% endif %}
        

        {% if article.theme.nom == 'theme1' and article.photos[1].format != 'n/a' %}
        <div class="photo-theme1 photoredim"><img src="{{ asset(article.photos[1].webPath) }}" /></div>
        {% endif %}

        {% if article.theme.nom == 'theme3' and article.photos[0].format != 'n/a' %}
        <div class="photo-theme3 photoredim"><img src="{{ asset(article.photos[0].webPath) }}" /></div>
        {% endif %}

        {% if article.theme.nom == 'theme4' and article.photos[0].format != 'n/a' %}
        <div class="photo-theme4-1 photoredim"><img src="{{ asset(article.photos[0].webPath) }}" /></div>
        {% endif %}
        
        

        <div class="column-left">
            {# Génération du label. #}
            {{ form_label(formArticle.texteFirst, "Texte de l'article", {'label_attr': {'class': 'label label-texte1'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(formArticle.texteFirst) }}

            <div class="">
                {# Génération de l'input. #}
                {{ form_widget(formArticle.texteFirst, {'attr': {'class': 'form-texte1'}}) }}
            </div>
        </div>

        <div class="column-right">
            {% if article.theme.nom == 'theme2' and article.photos[0].format != 'n/a' %}
            <div class="photo-theme2 photoredim"><img src="{{ asset(article.photos[0].webPath) }}"/></div>
            {% endif %}

            {% if article.theme.nom == 'theme2' and article.photos[1].format != 'n/a' %}
            <div class="photo-theme2 photoredim"><img src="{{ asset(article.photos[1].webPath) }}" /></div>
            {% endif %}

            {% if article.theme.nom == 'theme2' and article.photos[2].format != 'n/a' %}
            <div class="photo-theme2 photoredim"><img src="{{ asset(article.photos[2].webPath) }}" /></div>
            {% endif %}
        </div>

        

        {% if article.theme.nom == 'theme4' and article.photos[1].format != 'n/a' %}
        <div class="photo-theme4-2 photoredim"><img src="{{ asset(article.photos[1].webPath) }}" /></div>
        {% endif %}

        {% if article.theme.nom == 'theme4' and article.photos[2].format != 'n/a' %}
        <div class="photo-theme4-2 photoredim"><img src="{{ asset(article.photos[2].webPath) }}" /></div>
        {% endif %}

        {% if article.theme.nom == 'theme5' and article.photos[0].format != 'n/a' %}
        <div class="photo-theme5-1 photoredim"><img src="{{ asset(article.photos[0].webPath) }}" /></div>
        {% endif %}

        {% if article.theme.nom == 'theme5' and article.photos[1].format != 'n/a' %}
        <div class="photo-theme5-1 photoredim"><img src="{{ asset(article.photos[1].webPath) }}" /></div>
        {% endif %}
    
        {% if article.theme.nom == 'theme4' or article.theme.nom == 'theme5' %}

            <div class="">
                {# Génération du label. #}
                {{ form_label(formArticle.texteSecond, "Texte de l'article", {'label_attr': {'class': 'label label-texte2'}}) }}
    
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(formArticle.texteFirst) }}

                <div class="">
                {# Génération de l'input. #}
                {{ form_widget(formArticle.texteSecond, {'attr': {'class': 'form-texte2'}}) }}
                </div>
            </div>

        {% endif %}

        {% if article.theme.nom == 'theme5' and article.photos[2].format != 'n/a' %}
        <div class="photo-theme5-2 photoredim"><img src="{{ asset(article.photos[2].webPath) }}" /></div>
        {% endif %}

        <div class="">
          <div class="">
            {# Génération de l'input. #}
            {{ form_widget(formArticle.theme, {'attr': {'class': 'form-theme'}}) }}
          </div>
        </div>

        <div class="">
          <div class="">
            {# Génération de l'input. #}
            {{ form_widget(formArticle.rubrique, {'attr': {'class': 'form-rubrique'}}) }}
          </div>
        </div>

        {{ form_widget(formArticle.save, {'attr': {'class': 'save-button'}}) }}

        <div class="save-article-button">Enregistrer les modifications</div>
        <a href="{{ path('nsp_interface_homepage') }}"><div class="fin-article-button">Envoyer l'article</div></a>

        {{ form_end(formArticle) }}

        

    </div>

    

    <p class="id-article">
    </p>
    
    <div class="choix-photos">
        <h1>Photos</h1>
        <div class="photo-choix-container">
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[0].id }}" data-url="{{ article.photos[0].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[0].format != 'n/a' %}
                    <img src="{{ asset(article.photos[0].webPath) }}"/>
                {% endif %}
            </div>
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[1].id }}" data-url="{{ article.photos[1].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[1].format != 'n/a' %}
                    <img src="{{ asset(article.photos[1].webPath) }}"/>
                {% endif %}
            </div>
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[2].id }}" data-url="{{ article.photos[2].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[2].format != 'n/a' %}
                    <img src="{{ asset(article.photos[2].webPath) }}"/>
                {% endif %}
            </div>
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[3].id }}" data-url="{{ article.photos[3].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[3].format != 'n/a' %}
                    <img src="{{ asset(article.photos[3].webPath) }}"/>
                {% endif %}
            </div>
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[4].id }}" data-url="{{ article.photos[4].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[4].format != 'n/a' %}
                    <img src="{{ asset(article.photos[4].webPath) }}"/>
                {% endif %}
            </div>
            <div class="boite-photo photoredim" data-id-photo="{{ article.photos[5].id }}" data-url="{{ article.photos[5].fichier }}">
                <div class="plus-vertical-photo"></div>
                <div class="plus-horizontal-photo"></div>
                {% if article.photos[5].format != 'n/a' %}
                    <img src="{{ asset(article.photos[5].webPath) }}"/>
                {% endif %}
            </div>
        
            {% if formPhoto is defined %}
                {{ form(formPhoto) }}
            {% endif %}
        </div>
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    
    
    function redimensionnement(nbr, categorie) {

        for (var i = 1; i <= nbr; i++) {
            $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('width', 'inherit').css('height', 'auto');  
            
            var largeur = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ')').width();
            var hauteur = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ')').height();
            var largeurImg = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').width();
            var hauteurImg = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').height();
            
            if (largeur / largeurImg > hauteur / hauteurImg) {
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('width', '100%').css('height', 'auto');  
                var hauteurImg = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').height();
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('top', '-'+((hauteurImg/2)-(hauteur/2))+"px");
                
            } else if (hauteur / hauteurImg > largeur / largeurImg) {
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('height', '100%').css('width', 'auto');
                var largeurImg = $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').width();
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('left', '-'+((largeurImg/2)-(largeur/2))+"px");
                
            } else if (hauteur / hauteurImg === largeur / largeurImg) {
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('height', '100%');
                $('.' + categorie + ' > .photoredim:nth-of-type(' + i + ') > img').css('width', '100%');
            }
        }
    }
    
    
    $(document).ready(function () {    
    var affiche = true;

    for (var i = 1; i <= 6; i++) {

        if ($('.boite-photo:nth-of-type('+i+')').data('url') != 'n/a' && affiche) {

            $('.boite-photo:nth-of-type('+i+')').css('display', 'block');

        };

        if ($('.boite-photo:nth-of-type('+i+')').data('url') == 'n/a' && affiche) {

            $('.boite-photo:nth-of-type('+i+')').css('display', 'block');
            affiche = false;

        };

        if ($('#nsp_articlebundle_article_theme').val() == '1') {

            $('.boite-photo:nth-of-type(3)').css('display', 'none');
            $('.boite-photo:nth-of-type(4)').css('display', 'none');
            $('.boite-photo:nth-of-type(5)').css('display', 'none');
            $('.boite-photo:nth-of-type(6)').css('display', 'none');

        };

        if ($('#nsp_articlebundle_article_theme').val() == '2' || $('#nsp_articlebundle_article_theme').val() == '4' || $('#nsp_articlebundle_article_theme').val() == '5' ) {

            $('.boite-photo:nth-of-type(4)').css('display', 'none');
            $('.boite-photo:nth-of-type(5)').css('display', 'none');
            $('.boite-photo:nth-of-type(6)').css('display', 'none');
            
        };

        if ($('#nsp_articlebundle_article_theme').val() == '3') {

            $('.boite-photo:nth-of-type(2)').css('display', 'none');
            $('.boite-photo:nth-of-type(3)').css('display', 'none');
            $('.boite-photo:nth-of-type(4)').css('display', 'none');
            $('.boite-photo:nth-of-type(5)').css('display', 'none');
            $('.boite-photo:nth-of-type(6)').css('display', 'none');
            
        };

    }

    $('.boite-photo').click(function() {
        
        var idN = $(this).data('id-photo');
        var idS = idN.toString();

        $('#nsp_articlebundle_photo_id').val(''+ idS+'');

        $('#nsp_articlebundle_photo_file').click();

        verify();

    });

    $('.save-article-button').click(function() {
        $('.save-button').click();
    });

    function verify() {

        if ($('#nsp_articlebundle_photo_file').get(0).files.length != 0) {
            
            $('#nsp_articlebundle_photo_save').click();
            $('#nsp_articlebundle_photo_file').val('');
            $('#nsp_articlebundle_photo_id').val('');
        }
        window.requestAnimationFrame(verify);
    }
    
    $('.theme-choix').click(function() {
        
        var idN = $(this).data('id-theme');
        var idS = idN.toString();

        console.log(idS);

        $('#nsp_articlebundle_article_theme').val(''+ idS+'');

        $('#nsp_articlebundle_article_save').click();

    });
        
        
        redimensionnement(12, "form-article");
        redimensionnement(4, "column-right");
        redimensionnement(6, "photo-choix-container");
        redimensionnement(6, "mosaique");
        
        if( $(".form-texte1").focus() ){
             $(document).keyup(function(touche){

            var appui = touche.which || touche.keyCode;

            if(appui == 13){ 
               $(".form-texte1").val($(".form-texte1").val()+'<SautDeLigne>\n');
            }
        });
        }
       
    
    });
    

    
</script>

{% endblock %}


