{% extends "NSPArticleBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ infosArticle[0].titre }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/article.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/'~infosArticle[0].theme.nom~'.css') }}">
{% endblock %}

{% block body %}

<section class="article-global-content">

<div class="titre-article"><h1 >{{ infosArticle[0].titre }}</h1></div>

<div class="article-content">
	<div class="header-article">
		<div class="infosAuteur">
			<div class="infosAuteur-content">
				<div class="auteur">Ludovic Bouvinet</div>
				<div class="photoAuteur"><img src="{{ asset('uploads/photo-ludo.png') }}" alt=""></div>
				<div class="gradeAuteur">Rédacteur en chef</div>
			</div>
		</div>
		<div class="chapeau">
			<p>{{ infosArticle[0].chapeau }}</p>
		</div>
	</div>

	<div class="column-left ">
		{% if infosArticle[0].theme.nom == 'theme3' %}
			<img src="{{ asset('uploads/time-journee.jpg') }}" alt="">
		{% endif %}
		<p>
			{{ infosArticle[0].texte_first }}
		</p>
	</div>
	{% if infosArticle[0].theme.nom == 'theme2' %}
		<div class="column-right">
			<img src="{{ asset('uploads/time-journee.jpg') }}" alt="">
			<img src="{{ asset('uploads/time-journee.jpg') }}" alt="">
			<img src="{{ asset('uploads/time-journee.jpg') }}" alt="">
		</div>
	{% endif %}



</div>

</section>
{% endblock %}