{% extends "NSPArticleBundle::layout.html.twig" %} {% block title %}{{ parent() }} - {{ article.titre }} {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/article.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/nsparticle/css/'~article.theme.nom~'.css') }}"> {% endblock %} {% block body %}

<section class="article-global-content">

    <div class="titre-article">
        <h1>{{ article.titre }}</h1></div>

    <div class="t"></div>

    <div class="article-content">
        <div class="header-article">
            <div class="infosAuteur">
                <div class="infosAuteur-content">
                    <div class="auteur">Ludovic Bouvinet</div>
                    <div class="photoAuteur"><img src="{{ asset('uploads/photo-ludo.png') }}" alt=""></div>
                    <div class="gradeAuteur">Rédacteur en chef</div>
                </div>
            </div>
            <div class="chapeau">
                <p>{{ article.chapeau }}</p>
            </div>
        </div>
        {% set i = 0 %}

        <div class="column-left ">



            {% if article.theme.nom == 'theme1' %}
            <div class="theme1">
                {% for photo in article.photos if i in 0..1 %}
                <div>
                    <img src="{{ asset('uploads/'~photo.fichier~'.'~photo.format) }}" alt="">
                </div>
                {% set i = i +1 %} {% endfor %}
            </div> {% endif %} {% if article.theme.nom == 'theme3' %}
            <div class="theme3">
                <div>
                    <img src="{{ asset('uploads/'~article.photos[0].fichier~'.'~article.photos[0].format) }}" alt="">
                </div>
            </div> {% endif %} {% if article.theme.nom == 'theme4' %}
            <div class="theme4">
                <div><img src="{{ asset('uploads/'~article.photos[0].fichier~'.'~article.photos[0].format) }}" alt=""></div>
            </div> {% endif %} {% if article.theme.nom == 'theme6' %}


            <div class="mosaique">
                {% for photo in article.photos if i in 0..5 %}
                <div>
                    <img src="{{ asset('uploads/'~photo.fichier~'.'~photo.format) }}" alt="">
                </div>
                {% set i = i +1 %} {% endfor %}
            </div>
            {% endif %}

            <p>
                {{ article.texteFirst|replace({'
                <br>': '
                <br>'}) | raw}}
            </p>

            {% if article.theme.nom == 'theme4' %}
            <div class="theme4">
                {% for photo in article.photos if i in 0..1 %}
                <div><img src="{{ asset('uploads/'~photo.fichier~'.'~photo.format) }}" alt=""></div>
                {% set i = i +1 %} {% endfor %}
            </div>
            {% endif %} {% if article.theme.nom == 'theme5' %}
            <div class="theme5">
                {% for photo in article.photos if i in 0..1 %}
                <div>
                    <img src="{{ asset('uploads/'~photo.fichier~'.'~photo.format) }}" alt="">
                </div>
                {% set i = i +1 %} {% endfor %}
            </div>{% endif %}

            <p>
                {% if article.texteSecond is not null %} {{ article.texteSecond|replace({'
                <br>': '
                <br>'}) | raw}} {% endif %}
            </p>

            {% if article.theme.nom == 'theme5' %}
            <div class="theme5">
                <div><img src="{{ asset('uploads/'~article.photos[0].fichier~'.'~article.photos[0].format) }}" alt=""></div>
            </div>{% endif %}

        </div>
        {% if article.theme.nom == 'theme2' %}
        <div class="column-right">
            <div class="theme2">
                {% for photo in article.photos if i in 0..2 %}
                <div>
                    <img src="{{ asset('uploads/'~photo.fichier~'.'~photo.format) }}" alt="">
                </div>
                {% set i = i +1 %} {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="zonenotetop">
            <div class="titrenote">Notez cet
                <br>article</div>
            <div class="etcommercial">&</div>
            <div class="titrecom">Donnez nous
                <br>votre avis</div>
        </div>
        <div class="zonenotemiddle">
            <img class="flechenote" src="{{ asset('ressources/arrownote.png') }}" alt="fleche"></img>
           
<!--
            <div class="ajout-note">
               
                {{ form_start(noteForm, {'attr': {'class': 'form-note'}}) }} {{ form_widget(noteForm.note, {'attr': {'class': 'form-note'}}) }} {{ form_end(noteForm) }}
                
<img class="etoileform" src="{{ asset('ressources/rangeeetoile.png') }}" alt="formulaire de note"></img>
            </div>
-->
            

            <div class="profilvous">
                <img class="tofprofilnote" src="{{ asset('ressources/tofprofilnote.png') }}" alt="photo de profil"> </img>

                <div class="vous">Vous</div>
            </div>


            <div class="ajout-commentaire">
                {{ form_start(commentaireForm, {'attr': {'class': 'form-commentaire'}}) }} {{ form_widget(commentaireForm.texte, {'attr': {'class': 'form-commentaire'}}) }} {{ form_end(commentaireForm) }}
                <img class="inputcom" src="{{ asset('ressources/form.png') }}" alt="formulaire de commentaire">
                </img>
            </div>


        </div>



        <div class="bandonoir">
            <div class="zonegauche">
                <div class="contentzonegauche">


                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>

                    <div class="prenometetoile">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div class="prenomnote">Ludovic Bouvinet</div>
                        <img class="etoilenote" src="{{ asset('ressources/petitetoile.png') }}" alt="note des lecteurs"></img>
                    </div>
                    <div class="affichettnote"><a href="#">Afficher toutes les notes</a></div>
                </div>


            </div>


            <div class="zonedroite">
                <div class="contentzonedroite">
                    {% set a = 0 %} {% for commentaire in commentaires %} {% if a is even %}
                    <div class="contentleftcom">
                        <img class="tofprofilnotebottom" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div>
                            <p class="commentaire-texte">{{ commentaire.texte }}</p>
                            <img class="bottomform" src="{{ asset('ressources/formbottom.png') }}"></img>
                        </div>
                    </div>
                    {% endif%} {% if a is odd %}
                    <div class="contentrightcom">
                        <img class="tofprofilnotebottomright" src="{{ asset('ressources/tofprofilnotebottom.png') }}"></img>
                        <div>
                            <p class="commentaire-texte">{{ commentaire.texte }}</p>
                            <img class="bottomformright" src="{{ asset('ressources/formright.png') }}"></img>
                        </div>
                    </div>
                    {% endif%} {% set a = a +1 %} {% endfor %}

                </div>



            </div>

        </div>



    </div>

</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">
    function redimensionnement(nbr, categorie) {

        for (var i = 1; i <= nbr; i++) {
            $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', 'inherit').css('height', 'auto');

            var largeur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').width();
            var hauteur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').height();
            var largeurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').width();
            var hauteurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').height();

            if (largeur / largeurImg > hauteur / hauteurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%').css('height', 'auto');
                var hauteurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').height();
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('top', '-' + ((hauteurImg / 2) - (hauteur / 2)) + "px");

            } else if (hauteur / hauteurImg > largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%').css('width', 'auto');
                var largeurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').width();
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('left', '-' + ((largeurImg / 2) - (largeur / 2)) + "px");

            } else if (hauteur / hauteurImg === largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%');
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%');
            }
        }
    }


    $(document).ready(function () {

        if ("{{article.theme.nom}}" == "theme6") {
            redimensionnement(6, "mosaique");
        }

        if ("{{article.theme.nom}}" != "theme6") {
            redimensionnement(3, "{{article.theme.nom}}:nth-of-type(1)");
            redimensionnement(2, "{{article.theme.nom}}:nth-of-type(2)");
        }

        for (var i = 0; i <= 3; i++) {

            var pre = "";

            if (i === 1) {
                pre = "-webkit-";
            }
            if (i === 2) {
                pre = "-o-";
            }
            if (i === 3) {
                pre = "-moz-";
            }


            $('.article-global-content').css('background', '' + pre + 'linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.95), rgba(255,255,255,1)), url({{ asset("uploads/"~article.photos[0].fichier~"."~article.photos[0].format) }})').css('background-size', 'cover');

        }

        $(window).resize(function () {
            if ("{{article.theme.nom}}" == "theme6") {
                redimensionnement(6, "mosaique");
            }

            if ("{{article.theme.nom}}" != "theme6") {
                redimensionnement(2, "{{article.theme.nom}}:nth-of-type(1)");
                redimensionnement(2, "{{article.theme.nom}}:nth-of-type(2)");
            }
        });

        $('#nsp_articlebundle_commentaire_texte').val('');

    });
</script>
{% endblock %}