<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}NSP {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('ressources/favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/footer.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/header.css') }}">
	{% block css %}{% endblock %}
  </head>
  <div id="con"></div>
  <body>
  <script src="{{ asset('bundles/nspinterface/js/jquery.js') }}"></script>	
   
<!--   //header si t utilisateur admin ou modo en desktop-->
    {% if is_granted('ROLE_USER') or is_granted('ROLE_MODERATEUR') or is_granted('ROLE_SUPER_ADMIN') %}
		<div id="header">
			<a href="{{ path('nsp_interface_homepage') }}"><img src="{{ asset('ressources/logo.jpg') }}" alt="Logo du site web" class="logo"></a>
			<div id="profil">
				<img class="potopro" src="{{ asset('uploads/'~user.photo.id~'.'~user.photo.format~'') }}" alt="photo profil">
				<span>{{user.username}}</span>
				<br>
				<a href="{{ path('nsp_back_user_profil') }}">Paramètres du compte</a>
				<br>
				<a href="{{ path('nsp_article_new_article') }}">Rédiger un article</a>
				<br>
				<a href="{{ path('nsp_logout') }}">Déconnexion</a>
			</div>
		</div>
	{% endif %}

	    
  	<div id="menu"> 
  		<a href="javascript:;" class="close"></a>
	    {% if is_granted('ROLE_USER') %}
		<div class="first"><center><img class="tofprofil" src="{{ asset('uploads/'~user.photo.id~'.'~user.photo.format~'') }}" alt="photo profil"></center></div>
        <span class="usermobile">{{user.username}}</span>
	    {% endif %}
		{% if not is_granted('ROLE_USER') %}
	    <div class="anonym"></div>
	    {% endif %} 

	    <ul>
	        <li><a class="lienmob" href="{{ path('nsp_interface_homepage') }}">Home</a></li>
	        <li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
	        <li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
	        <br>
	        {% if is_granted('ROLE_USER') %}
	        <li><a class="lienmob" href="{{ path('nsp_back_user_profil') }}">Espace Membre</a></li>
	        <li><a class="lienmob" href="{{ path('nsp_logout') }}">Deconnexion</a></li>
	        {% endif %} 
	    </ul>
	</div> 
	
	{% if not is_granted('ROLE_USER') %}
		<div class="bar">
		    <a href="javascript:;" class="menu_btn"> </a>
		    <div class="logo_mob">NSP</div>
		    <div class="navmob">  
		        <div class="connexion"> 
<div class="texteco"><a class="lienancre" href="#con">Connexion</a></div>
		        </div>
		        <div class="inscription">
		        	<div class="texteco"><a class="lienancre2" href="#con">Inscription</a></div>
		        </div>  
		    </div>
		</div>
	{% endif %}
	
	{% if is_granted('ROLE_USER') %}
		<div class="bar">
		    <a href="javascript:;" class="menu_btn"> </a>
		    <div class="logo_mob">NSP</div>
		</div>
	{% endif %}

	{% if not is_granted('ROLE_USER') %}
  	<div id="header">
		<a href="{{ path('nsp_interface_homepage') }}"><img src="{{ asset('ressources/logo.jpg') }}" alt="Logo du site web" class="logo"></a>
		<div class="choice">
			<div class="connexion"><p>Connexion</p></div>
			<div class="inscription"><p>Inscription</p></div>
			<img src="{{ asset('ressources/loupe.png') }}" alt="" class="toolbar">
		</div>
	</div>
	{% endif %}

	<div class="div-noire"></div>

	<div class="pop-up-connexion">
		{{ render(controller('FOSUserBundle:Security:login')) }}
	</div>

	{{ render(controller('FOSUserBundle:Registration:register')) }}

	<nav>
		<ul>
			<li><a href="{{ path('nsp_interface_homepage') }}">Home</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
		</ul>
	</nav>

    {% block body %}

    {% endblock %}
	
	<div class="background">
		<div id="res_sociaux">
			<a href="http://twitter.com/aujour_nal"><img src="{{ asset('ressources/twitter.png') }}" alt="" id="twit"></a>
			<a href="http://www.facebook.com/aujournalupem"><img src="{{ asset('ressources/facebook.png') }}" alt="" id="fb"></a>
			<img src="{{ asset('ressources/animal.png') }}" alt="">
			<a href="{{ path('nsp_interface_charte_utilisation') }}" target="_blank"><img src="{{ asset('ressources/interface.png') }}" alt="" id="cht"></a>
			<a href="http://www.youtube.com/channel/UCLNnD3obwgu91iyORFKPNZw"><img src="{{ asset('ressources/youtube.png') }}" alt="" id="you"></a>
		</div>
		<div id="plan_site">
			<ul>
				<li><a href="{{ path('nsp_interface_homepage') }}">Home</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
			</ul>
		</div>
		<div id="mentions">
			<ul>
				<li><a href="{{ path('nsp_interface_a_propos') }}">A Propos</a></li>
				<li><a href="{{ path('nsp_interface_remerciements') }}">Remerciements</a></li>
				<li><a href="{{ path('nsp_interface_mentions_legales') }}">Mentions Légales</a></li>
				<li><a href="{{ path('nsp_interface_contact') }}">Nous Contacter</a></li>
				{% if is_granted('ROLE_MODERATEUR') %}
				  <li><a href="{{ path('nsp_back_homepage') }}">Modération</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="background_mob">
		<div class="contactus"><a href="{{ path('nsp_interface_contact') }}">Nous Contacter</a></div>
		<div class="apropos"><a href="{{ path('nsp_interface_a_propos') }}">A propos</a></div>
		<div class="reso">
			<a href="http://twitter.com/aujour_nal" target="_blank"><img src="{{ asset('ressources/twitter.png') }}" alt=""></a>
			<a href="http://www.facebook.com/aujournalupem" target="_blank"><img src="{{ asset('ressources/facebook.png') }}" alt=""></a>
			<img src="{{ asset('ressources/animal.png') }}" alt="">
			<a href="http://www.youtube.com/channel/UCLNnD3obwgu91iyORFKPNZw" target="_blank"><img src="{{ asset('ressources/youtube.png') }}" alt=""></a>
			<a href="{{ path('nsp_interface_charte_utilisation') }}" target="_blank"><img src="{{ asset('ressources/interface.png') }}" alt=""></a>
		</div>
		
		<br>
		
		<div class="mention"><a href="{{ path('nsp_interface_mentions_legales') }}">Mentions Légales</a></div>
       <div class="remerciement"><a href="{{ path('nsp_interface_remerciements') }}">Remerciements</a></div>
        
    </div>


  <script src="{{ asset('bundles/nspinterface/js/menu.js') }}"></script>
  <script>
  	$('.connexion').click(function(){
  		$('.div-noire').fadeIn();
  		$('.pop-up-connexion').fadeIn();
  	});

  	$('.div-noire').click(function(){
  		$('.div-noire').fadeOut();
  		$('.pop-up-connexion').fadeOut();
        $('.popup-inscri').fadeOut();
  	});
      
      $('.inscription').click(function(){
          
  		$('.div-noire').fadeIn();
  		$('.popup-inscri').fadeIn();
          
          
          
      });
      
      function centreInsc(){
      largeurFenetre = window.innerWidth;
      largeurPopup = $('.popup-inscri').width();
      marge = ( largeurFenetre - largeurPopup ) /2;
           $('.popup-inscri').css('left',marge);
      };
      centreInsc();


      function centreCo(){
      largeurFenetre = window.innerWidth;
      largeurPopup = $('.pop-up-connexion').width();
      marge = ( largeurFenetre - largeurPopup ) /2;
           $('.pop-up-connexion').css('left',marge);
      };
      centreCo();

    $(window).resize(function () {
        centreInsc();
        centreCo();
    });
  
      

  </script>
  </body>
</html>
