<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}NSP {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/footer.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/header.css') }}">
	{% block css %}{% endblock %}
  </head>
  <body>
  <script src="{{ asset('bundles/nspinterface/js/jquery.js') }}"></script>	
    {% if is_granted('ROLE_USER') or is_granted('ROLE_MODERATEUR') or is_granted('ROLE_SUPER_ADMIN') %}
		<div id="header">
			<img src="{{ asset('ressources/logo.jpg') }}" alt="Logo du site web" class="logo">
			<div id="profil">
				<img class="potopro" src="{{ asset('uploads/'~user.photo.id~'.'~user.photo.format~'') }}" alt="photo profil">
				<span>{{user.username}}</span>
				<br>
				<a href="{{ path('nsp_back_user_profil') }}">Paramètres du compte</a>
				<br>
				<a href="{{ path('nsp_back_user_mesarticles') }}">Rédiger un article</a>
				<br>
				<a href="{{ path('nsp_logout') }}"><img class="deco" src="{{ asset('ressources/power.png') }}" alt="Déconnexion"></a>
			</div>
		</div>
	{% endif %}

	    
  	<div id="menu"> 

  		<a href="javascript:;" class="close"></a>
	    {% if is_granted('ROLE_USER') %}
	    <div class="tofprofil"></div>
	    {% endif %}
		{% if not is_granted('ROLE_USER') %}
	    <div class="anonym"></div>
	    {% endif %} 

	    <ul>
	        <li><a class="lienmob" href="{{ path('nsp_interface_homepage') }}">Home</a></li>
	        <li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
			<li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
	        <li><a class="lienmob" href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
	    </ul>
	</div> 

	<div class="bar">
	    <a href="javascript:;" class="menu_btn"> </a>
	    <div class="logo_mob">NSP</div>
	    <div class="navmob">  
	        <div class="connexion"> 
	        	<div class="texteco">Connexion</div>
	        </div>
	        <div class="inscription">
	        	<div class="texteco">Inscription</div>
	        </div>  
	    </div>
	</div>

	{% if not is_granted('ROLE_USER') %}
  	<div id="header">
		<img src="{{ asset('ressources/logo.jpg') }}" alt="Logo du site web" class="logo">
		<div class="choice">
			<div class="connexion"><p>Connexion</p></div>
			<div class="inscription"><p>Inscription</p></div>
			<img src="{{ asset('ressources/loupe.png') }}" alt="" class="toolbar">
		</div>
	</div>
	{% endif %}

	<div class="div-noire"></div>

	<div class="pop-up-connexion">
		{{ render(controller('FOSUserBundle:Security:login')) }}
	</div>

	{{ render(controller('FOSUserBundle:Registration:register')) }}

	<nav>
		<ul>
			<li><a href="{{ path('nsp_interface_homepage') }}">Home</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
			<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
		</ul>
	</nav>

    {% block body %}

    {% endblock %}
	
	<div class="background">
		<div id="res_sociaux">
			<a href="http://twitter.com/aujour_nal"><img src="{{ asset('ressources/twitter.png') }}" alt="" id="twit"></a>
			<a href="http://www.facebook.com/aujournalupem"><img src="{{ asset('ressources/facebook.png') }}" alt="" id="fb"></a>
			<img src="{{ asset('ressources/animal.png') }}" alt="">
			<a href=""><img src="{{ asset('ressources/linkedin.png') }}" alt="" id="link"></a>
			<a href="http://www.youtube.com/channel/UCLNnD3obwgu91iyORFKPNZw"><img src="{{ asset('ressources/youtube.png') }}" alt="" id="you"></a>
		</div>
		<div id="plan_site">
			<ul>
				<li><a href="{{ path('nsp_interface_homepage') }}">Home</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Campus'}) }}">Campus</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'BonPlan'}) }}">Bon Plan</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'LifeStyle'}) }}">Life Style</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Culture'}) }}">Culture</a></li>
				<li><a href="{{ path('nsp_interface_rubrique', {'rubrique': 'Evenement'}) }}">Evenement</a></li>
			</ul>
		</div>
		<div id="mentions">
			<ul>
				<li><a href="">A Propos</a></li>
				<li><a href="">Mentions Légales</a></li>
				<li><a href="">Nous Contacter</a></li>
				{% if is_granted('ROLE_MODERATEUR') %}
				  <li><a href="{{ path('nsp_back_homepage') }}">Modération</a></li>
				{% endif %}
			</ul>
		</div>
	</div>

	<div class="background_mob">
		<a href="">Nous Contacter</a>
		<div class="reso">
			<a href="http://twitter.com/aujour_nal" target="_blank"><img src="{{ asset('ressources/twitter.png') }}" alt=""></a>
			<a href="http://www.facebook.com/aujournalupem" target="_blank"><img src="{{ asset('ressources/facebook.png') }}" alt=""></a>
			<img src="{{ asset('ressources/animal.png') }}" alt="">
			<a href="" target="_blank"><img src="{{ asset('ressources/linkedin.png') }}" alt=""></a>
			<a href="http://www.youtube.com/channel/UCLNnD3obwgu91iyORFKPNZw" target="_blank"><img src="{{ asset('ressources/youtube.png') }}" alt=""></a>
		</div>
		<a href="">Mentions Légales</a>
	</div>


  <script src="{{ asset('bundles/nspinterface/js/menu.js') }}"></script>
  <script>
  	$('.connexion').click(function(){
  		$('.div-noire').toggleClass('connexion-go');
  		$('.pop-up-connexion').toggleClass('connexion-go');
  		$('html').css('overflow', 'hidden');
  	});

  	$('.div-noire').click(function(){
  		$('.div-noire').toggleClass('connexion-go');
  		$('.pop-up-connexion').removeClass('connexion-go');
        	$('.popup-inscri').css('display','none');
  		$('html').css('overflow', 'auto');
  	});
      
      $('.inscription').click(function(){
          
  		$('.div-noire').toggleClass('connexion-go');
  		$('.popup-inscri').css('display','block');
          
          
          
      });
      
      function centre(){
      largeurFenetre = window.innerWidth;
      largeurPopup = $('.popup-inscri').width();
      marge = ( largeurFenetre - largeurPopup ) /2;
           $('.popup-inscri').css('left',marge);
      };
      centre();
        $(window).resize(function () {
            centre();
        });
      
      

  </script>
  </body>
</html>
