{% extends "NSPBackUserBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Espace Personnel {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nspbackuser/css/styles.css') }}">{% endblock %} 

{% block body %}

<div class="menugauche"> 
    <a href="{{ path('nsp_back_user_profil') }}"><div class="myprofil"></div></a> 
    <a href="{{ path('nsp_back_user_message') }}"><div class="iconmsg"></div></a>
    <a href="{{ path('nsp_back_user_mesarticles') }}"><div class="iconart"></div></a>  
</div>

<div class="zoneperso">
       
       <div class="mesarticle">
           
            <div class="topmsg">
                <div class="txtmsg">Messagerie</div>
                <a class="liennewmsg" href="{{ path('nsp_back_user_write_message') }}"><div class="newmsg"></div></a>
            </div> 
            
            <div class="mymsgs">

              {% for message in messages | reverse %}

                <a class="lienmsg" data-id="message{{message.id}}">
                  <div class="encarmsg">
                    <div class="resummsg">
                       <div class="firstlign">
                            <div class="auteur">{{message.emetteur}}</div>
                            <div class="date">{{message.date | date('Y-m-d')}}</div>
                        </div>
                        <div class="subject">{{message.objet}}</div>
                        <div class="lastlign">
                            <div class="pitchmsg">{{message.corps}}</div>
                            <a class="liensupp" href="{{ path('nsp_back_user_sup_message', {'id': message.id }) }}"><div class="suppmsg"></div></a>
                        </div>
                    </div>   
                  </div>
                </a>

              {% endfor %}
               
            </div>                    
           
       </div>
       
       
       <div class="bloczoneright">
         <div class="zonemsg">
             <div class="zonefili">

                {% if formMessage is defined %}

                {% else %}
                   {% for message in messages %}
                      <div class="titremsg message{{message.id}}"> {{message.emetteur}} - Chef Rédacteur</div>
                      <div class="photoenvoie message{{message.id}}"></div>
                    {% endfor %} 
                {% endif %} 
                  
                  <div class="zonetexteenvoie">
                    
                    {% if formMessage is defined %}

                      {{ form(formMessage)}}

                    {% else %}
                      {% for message in messages %}
                        <p class="textemsg message{{message.id}}"> {{message.corps}} </p> 
                        <br>
                      {% endfor %}
                  
                    {% endif %}
                 <br> 
                 </div>
             </div>
         </div>
          
</div>


<script>
  
  $('.lienmsg').click(function(){

    $('.titremsg').css('display' , 'none');
    $('.textemsg').css('display' , 'none');
    $('.photoenvoie').css('display' , 'none');

    var id = $(this).data('id');
    $('.'+id+'').css('display', 'block');

  });

</script>
{% endblock %}


