{% extends "NSPBackUserBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Espace Personnel {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nspbackuser/css/styles.css') }}">{% endblock %} 

{% block body %}

<div class="menugauche">
    <a class="profil" href="#"><div class="tofprofil"></div></a> 
    <a href="{{ path('nsp_back_user_profil') }}"><div class="myprofil"></div></a> 
    <a href="{{ path('nsp_back_user_message') }}"><div class="iconmsg"></div></a>
    <a href="{{ path('nsp_back_user_mesarticles') }}"><div class="iconart"></div></a>  
</div>

<div class="zoneperso">

   <div class="blocleftprofil">
    <a href="#"><div class="modprof"></div></a> 
       <a href="#"><div class="supprofmobile"></div></a>
        <div class="titleinfocompte">Informations de Compte</div>
            <div class="zoneinfotop">
                <div class="cadreinfo"><p class="info">{{user.username}}</p></div><br>
                <div class="cadreinfo"><p class="info">{{user.email}}</p></div><br>
                <div class="cadreinfo"><p class="info">{{user.grade}}</p></div><br>
            </div>
        <div class="titleoption">Options du Compte</div>
        <div class="cadreinfo"><p class="info">Abonnée à la Newsletters</p></div>
   </div>

   <div class="blocrightprofil">
    <a href="#"><div class="supprof"></div></a>
        <div class="titleinfocompte2">Détails Personnels</div>
            <div class="zoneinfotop">
                <div class="cadreinfo"><p class="info">{{user.nom}}</p></div><br>
                <div class="cadreinfo"><p class="info">{{user.prenom}}</p></div><br>
                <div class="cadreinfo"><p class="info">{{user.dateNaissance | date('Y-m-d')}}</p></div><br>
            </div>
        <div class="cadreinfo"><p class="info">Sexe</p></div>
   </div>
   <div class="tofprofilmod"></div>     
   
</div>
{% endblock %}