{% extends "NSPInterfaceBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Home {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/homepage.css') }}">{% endblock %} {% block body %}

<section class="actu">
    <!--  toutes les divs et textes suivants devront être générées en php -->
    <!-- La première est le conteneur de l'article, la deuxième et le conteneur de sa description -->

        {% for article in listArticles %}

        <div><img src = {{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
            <a href="{{ path('nsp_article_article', {'id': article.id}) }}">
            <div class="sub">
                <h3>{{ article.titre }}</h3><span>{{ article.utilisateur.username }}</span>
                <p>{{ article.chapeau }}</p>
            </div>
            </a>
        </div>
        {% else %}
        <li>Aucun article n'est présent sur le site actuellement</li>
        {% endfor %}




</section>
<section class="choose">
    <div class="contenu">
{% set i = 0 %}
{% for article in listChoix %}
            <div class="contenair">
               <img src =   {{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
                <div class="titre">
                    <h4>Choix de la rédaction #{{ i + 1 }}</h4>
                    <a href="{{ path('nsp_article_article', {'id': article.id}) }}" class="lire">
                    <div class="sub2">
                        <h3>{{ article.titre }}</h3><span> {{ article.utilisateur.username }}</span>
                        <br>
                        <p>{{ article.chapeau }}</p>
                        <br>
                                                        <div class="noteprev" data-note="{{moyenne[i][0][1]}}">
            
<div class="etoile" alt="" data-note="1" ></div>
<div class="etoile" alt="" data-note="2" ></div>    
<div class="etoile" alt="" data-note="3" ></div>
<div class="etoile" alt="" data-note="4" ></div>
<div class="etoile" alt="" data-note="5" ></div>
            
            
            
        </div>
                        <p>lire plus</p>
                    </div>
                    </a>
                </div>
            </div>
{% set i = i + 1 %}
            {% else %}
            <li>Aucun article n'est présent sur le site actuellement</li>
            {% endfor %}





    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">
    
    function redimensionnement(nbr, categorie) {

        for (var i = 1; i <= nbr; i++) {
            var largeur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').width();
            var hauteur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').height();
            var largeurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').width();
            var hauteurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').height();
            
            if (largeur / largeurImg > hauteur / hauteurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%').css('height', 'auto');  
                var hauteurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').height();
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('top', '-'+((hauteurImg/2)-(hauteur/2))+"px");
                
            } else if (hauteur / hauteurImg > largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%').css('width', 'auto');
                var largeurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').width();
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('left', '-'+((largeurImg/2)-(largeur/2))+"px");
                
            } else if (hauteur / hauteurImg === largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%');
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%');
            }
        }
    }


    $(document).ready(function () {
        $('.actu > div').mouseenter(function () {
                $(this).find(".sub").css('bottom', '0');
            })
            .mouseleave(function () {
                $(this).find(".sub").css('bottom', '-100%');
            });
        redimensionnement(8, "actu");
        redimensionnement(2, "contenu");
        
                $('.noteprev').each(function(){
            
            var moyenne = Math.round($(this).data('note'));

            for ( i=0; i<moyenne; i++){
                z = i +1;
                $(this).find($('.etoile:nth-of-type('+z+')'))
                .css('opacity','1')
            }
        });
    });
</script>


{% endblock %}