{% extends "NSPInterfaceBundle::layout.html.twig" %} {% block title %}{{ parent() }} - Home {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/homepage.css') }}">{% endblock %} {% block body %}

<section class="actu">
    <!--  toutes les divs et textes suivants devront être générées en php -->
    <!-- La première est le conteneur de l'article, la deuxième et le conteneur de sa description -->

        {% for article in listArticles %}
        <div><img src = {{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
            <a href="{{ path('nsp_article_article', {'titreArticle': article.titre}) }}">
            <div class="sub">
                <h3>{{ article.titre }}</h3><span>Melina</span>
                <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus justo justo, a malesuada nisl ...</p>
            </div>
            </a>
        </div>
        {% else %}
        <li>Zero articles repertoriés dans la base de donnée</li>
        {% endfor %}




</section>
<section class="choose">
    <div class="contenu">


{% for article in listChoix %}
            <div class="contenair">
               <img src =   {{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
                <div class="titre">
                    <h4>Choix de la rédaction #1</h4>
                    <a href="{{ path('nsp_article_article', {'titreArticle': article.titre}) }}" class="lire">
                    <div class="sub2">
                        <h3>{{ article.titre }}</h3><span> par Melina</span>
                        <br>
                        <p>{{ article.texte }}</p>
                        <br>
                        <div class="notes"></div>
                        <p>lire plus</p>
                    </div>
                    </a>
                </div>
            </div>

            {% else %}
            <li>Zero articles repertoriés dans la base de donnée</li>
            {% endfor %}





    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript">
    
    function redimensionnement(nbr, categorie) {

        for (var i = 1; i <= nbr; i++) {
            var largeur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').width();
            var hauteur = $('.' + categorie + ' > div:nth-of-type(' + i + ')').height();
            var largeurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').width();
            var hauteurImg = $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').height();
            if (largeur / largeurImg > hauteur / hauteurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%');
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', 'auto');
            } else if (hauteur / hauteurImg > largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%');
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', 'auto');
                                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('text-align', 'center');
            } else if (hauteur / hauteurImg === largeur / largeurImg) {
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('height', '100%');
                $('.' + categorie + ' > div:nth-of-type(' + i + ') > img').css('width', '100%');
            }
        }
    }


    $(document).ready(function () {
        $('.actu > div').mouseenter(function () {
                $(this).find(".sub").css('bottom', '0');
            })
            .mouseleave(function () {
                $(this).find(".sub").css('bottom', '-100%');
            });
        redimensionnement(8, "actu");
        redimensionnement(2, "contenu");
    });
</script>


{% endblock %}