{% extends "NSPInterfaceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ infosRubrique[0].nom}} {% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/rubrique.css') }}">{% endblock %}

{% block body %}

<section class="presentation-rubrique">
    <img src="{{ asset('ressources/'~infosRubrique[0].nom~'.jpg') }}" alt="">
	<div id="nom"> {{ infosRubrique[0].nom}}</div>
	<div id="presentation"> {{ infosRubrique[0].presentation}}</div>	
</section>
<div id="abonnement">
	<div class="plus-content">
		<div class="plus-vertical"></div>
		<div class="plus-horizontal"></div>
	</div>
	<p id="abonner">S'abonner</p>
</div>

<section class="container">
	<!--  toutes les divs et textes suivants devront être générées en php --> <!-- La première est le conteneur de l'article, la deuxième et le conteneur de sa description -->

	{% for article in infosRubrique[0].articles %}
        
		<div class="articlesRubrique" >
            <a href="{{ path('nsp_article_article', {'id': article.id}) }}">
			<div ><p class="desc"><span>{{ article.titre }}</span><span>{{ article.utilisateur.username }}</span><br>{{ article.chapeau }}</p></div>
			<img src =	{{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
            </a>
		</div>
        
		{% else %}
		
    {% endfor %}

</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script type="text/javascript">
    

 function redimensionnementRubrique(nbr, categorie) {

        for (var i = 1; i <= nbr; i++) {
            var largeur = $('.' + categorie + ':nth-of-type(' + i + ')').width();
            var hauteur = $('.' + categorie + ':nth-of-type(' + i + ')').height();
            var largeurImg = $('.' + categorie + ':nth-of-type(' + i + ')  img').width();
            var hauteurImg = $('.' + categorie + ':nth-of-type(' + i + ')  img').height();
            if (largeur / largeurImg > hauteur / hauteurImg) {
                $('.' + categorie + ':nth-of-type(' + i + ') img').css('width', '100%').css('height', 'auto');
                var hauteur = $('.' + categorie + ':nth-of-type(' + i + ')').height();
                var hauteurImg = $('.' + categorie + ':nth-of-type(' + i + ')  img').height();
                $('.' + categorie + ':nth-of-type(' + i + ') img').css('top', "-"+((hauteurImg/2)-(hauteur/2))+"px");
            } else if (hauteur / hauteurImg > largeur / largeurImg) {
                $('.' + categorie + ':nth-of-type(' + i + ') img').css('height', '100%').css('width', 'auto');
                var largeur = $('.' + categorie + ':nth-of-type(' + i + ')').width();
                var largeurImg = $('.' + categorie + ':nth-of-type(' + i + ') img').width();
                $('.' + categorie + ':nth-of-type(' + i + ') img').css('left', "-"+((largeurImg/2)-(largeur/2))+"px");
            } else if (hauteur / hauteurImg === largeur / largeurImg) {
                $('.' + categorie + ':nth-of-type(' + i + ') img').css('height', '100%').css('width', '100%');
            }
        }
    }


    $(document).ready(function () {
        redimensionnementRubrique(9, "articlesRubrique");
        redimensionnementRubrique(1, "presentation-rubrique");
        
    
    });
$(window).resize(function () {
            redimensionnementRubrique(9, "articlesRubrique");
            redimensionnementRubrique(1, "presentation-rubrique");  
            
        });
</script>


{% endblock %}
