{% extends "NSPInterfaceBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ infosRubrique[0].nom}} {% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/nspinterface/css/rubrique.css') }}">{% endblock %}

{% block body %}

    <section class="presentation-rubrique">
	<div id="nom"> {{ infosRubrique[0].nom}}</div>
	<div id="presentation"> {{ infosRubrique[0].presentation}}</div>	
</section>
<div id="abonnement">
	<div class="plus-content">
		<div class="plus-vertical"></div>
		<div class="plus-horizontal"></div>
	</div>
	<p id="abonner">S'abonner</p>
</div>

<section class="container">
	<!--  toutes les divs et textes suivants devront être générées en php --> <!-- La première est le conteneur de l'article, la deuxième et le conteneur de sa description -->

	{% for article in infosRubrique[0].articles %}
		<div class="articlesRubrique" >
			<div ><p class="desc"><span>{{ article.titre }}</span><span> par Melina</span><br>{{ article.texte }}</p></div>
			<img src =	{{ asset("uploads/" ~ article.photos[0].fichier ~ "." ~ article.photos[0].format ~ "") }} >
		</div>
		{% else %}
		
    {% endfor %}

</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script type="text/javascript" src="../js/rubrique.js"></script>


{% endblock %}
