{% extends "NSPBackBundle::layout.html.twig" %}
{% block title %} {{ parent() }} - Administration {% endblock %}

{% block baniereRecherche %} 
<div class="ban"> 
  <div class="rechercheart">
      <h1 class="titreart">Articles</h1>
      <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
  </div> 
  <div class="rechercheuser">
      <h1 class="titreuser">Utilisateurs</h1>
      <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
  </div>
</div>

{% endblock %} 

{% block bodyContent %} 

<div class="container">
    
    <div class="zonearticle">

        <table class="tabarticle">

        <div class="entete">
           <tr class="entete">
               <th class="thead">Nom</th>
               <th class="thead">Date</th>
               <th class="thead">Rubrique</th>
               <th class="thead">Auteur</th>
           </tr>
        </div> 

        {% for article in articles %}

          {% if article.publier == 1 %}

            <tr class="trstyle">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
            </tr>

          {% endif %}

          {% if article.publier == 0 %}

            <tr class="trstylemodo">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
            </tr>

          {% endif %}
    
          {% else %}
          
        {% endfor %}

        </table>

            <div class="zonesuppr">
         <div class="zoneiconsuppralone">

          {% for article in articles %}
            <a class="iconsuppalone" href="{{ path('nsp_back_supprimer', {'id': article.id}) }}"><img class="suppalone" src="{{ asset('ressources/iconsupp.png') }}"></img></a>
          {% endfor %}
             
          </div> 
        </div>
                
        
    </div>
    
<!--Fin du premièr tableau     -->
     
    <div class="zoneusers">
        
            <table class="tabarticle">

               <tr class="entete">
                   <th class="thead">Utilisateurs</th>
                   
                   <th class="thead">Date d'inscription</th>
               </tr> 
                
           <tr class="trstyle">
               <td>Arthur Guichar</td>
               <td >10/06/16</td>
            
           </tr>
                
                
           <tr class="trstyle">
                <td>Mélina Guyon</td>
               <td >10/06/16</td>
              
           </tr>
                
                <tr class="trstyle">
                <td>Ludovic Bouvinet</td>
               <td >10/06/16</td>
              
           </tr>
                
                
                
        </table>
        
    <div class="zonesuppr">
        <div class="zoneiconsuppralone">   
            <a class="iconsuppalone" href="#"><img class="suppalone" src="{{ asset('ressources/iconsupp.png') }}"></img></a>
             <a class="iconsuppalone" href="#"><img class="suppalone" src="{{ asset('ressources/iconsupp.png') }}"</img></a> 
                <a class="iconsuppalone" href="#"><img class="suppalone" src="{{ asset('ressources/iconsupp.png') }}"</img></a> 
                </div> 
        
        </div> 
    </div>
    
</div>

{% endblock %}