{% extends "NSPBackBundle::layout.html.twig" %}
{% block title %} {{ parent() }} - Modération {% endblock %}

{% block baniereRecherche %} 
<div class="ban"> 
    <div class="rechercheart">
        <h1 class="titreart">Articles</h1>
        <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
    </div> 
    <div class="rechercheuser">
        <h1 class="titreuser">Commentaires</h1>
        <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
    </div>
</div>

{% endblock %} 

{% block bodyContent %} 

<div class="fond-gris"></div>
<div class="container">
    
    <div class="zonearticle">

        <table class="tabarticle">

        <div class="entete">
           <tr class="entete">
               <th class="thead">Nom</th>
               <th class="thead">Date</th>
               <th class="thead">Rubrique</th>
               <th class="thead">Auteur</th>
               <th class="thead">Action</th>
           </tr>
        </div> 

        {% for article in articles %}

          {% if article.publier == 1 %}

            <tr class="trstyle">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
                <td>
                  <a href="{{ path('nsp_back_publier', {'id': article.id}) }}"><img class="ajoutart" src="{{ asset('ressources/ajoutart.png') }}"></img></a>
                  <a href="{{ path('nsp_article_add_champs_article', {'id': article.id}) }}"><img class="crayon" src="{{ asset('ressources/crayon.png') }}"></img></a>
                </td>
            </tr>

          {% endif %}

          {% if article.publier == 0 %}

            <tr class="trstylemodo">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
                <td>
                  <a href="{{ path('nsp_back_publier', {'id': article.id}) }}"><img class="ajoutart" src="{{ asset('ressources/ajoutart.png') }}"></img></a>
                  <a href="{{ path('nsp_article_add_champs_article', {'id': article.id}) }}"><img class="crayon" src="{{ asset('ressources/crayon.png') }}"></img></a>
                </td>
            </tr>

          {% endif %}
    
          {% else %}
          
        {% endfor %}


        </table>

                      
    </div>
    
<!--Fin du premièr tableau     -->
     
    <div class="zoneusers">
        
         <table class="tabarticle">

               <tr class="entete">
                   <th class="thead">Article</th>
                   <th class="thead">Date</th>
                   <th class="thead">Rubrique</th>
                   <th class="thead">Auteur</th>
               </tr> 
                

              {% for commentaire in commentaires %}

                  <tr class="trstyle">
                     <td>{{commentaire.article.titre }}</td>
                     <td >{{commentaire.date | date('Y-m-d') }}</td>
                     <td>{{commentaire.article.rubrique.nom }}</td>
                     <td>FOS</td>
                 </tr>

                  <tr class="trstyle">
                      <td class="com" colspan="4">{{ commentaire.texte }}</td>
                      <td>
                        <a class="supplien" data-id="commentaire.id" href="#"><img class="supp" src="{{ asset('ressources/iconsupp.png') }}"></img></a>

                        <div class="pop-up" data-id="commentaire.id">
                          <p class="avertissement-suppression-commentaire">Si vous supprimez ce commentaire, son texte sera remplacé par un le texte de substitution : Ce commentaire a été supprimé car il été jugé trop abusif.</p>
                          <a href="{{ path('nsp_back_supprimer_commentaire', {'id': commentaire.id}) }}" class="supprimer-commentaire">Supprimer</a>
                          <a href="#" class="quit-pop-up">Annuler</a>
                        </div>
                      </td>
                  </tr>
          
                {% else %}
                
              {% endfor %}

                   
                
        </table>
        
</div>   

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script>
  
    $('.supplien').click(function(){

      $(this).next().css('display', 'block');
      $('.fond-gris').css('display', 'block');

      TweenMax.to( $(this).next(), 0.6, {
        alpha: 1
      });

      TweenMax.to( $('.fond-gris'), 0.6, {
        alpha: 1
      });
        
    });

    $('.quit-pop-up').click(function(){

      $('.pop-up').css('display', 'none');
      $('.fond-gris').css('display', 'none');
        
    });

</script>

{% endblock %}