{% extends "NSPBackBundle::layout.html.twig" %}
{% block title %} {{ parent() }} - Modération {% endblock %}

{% block baniereRecherche %} 
<div class="ban"> 
    <div class="rechercheart">
        <h1 class="titreart">Articles</h1>
        <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
    </div> 
    <div class="rechercheuser">
        <h1 class="titreuser">Commentaires</h1>
        <img class="loupe" src="{{ asset('ressources/loupe-blanche.png') }}"><div class="sstitreart"><input class="searchart" type="text" name="search"></div><br>
    </div>
</div>

{% endblock %} 

{% block bodyContent %} 

<div class="container">
    
    <div class="zonearticle">

        <table class="tabarticle">

        <div class="entete">
           <tr class="entete">
               <th class="thead">Nom</th>
               <th class="thead">Date</th>
               <th class="thead">Rubrique</th>
               <th class="thead">Auteur</th>
           </tr>
        </div> 

        {% for article in articles %}

          {% if article.publier == 1 %}

            <tr class="trstyle">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
            </tr>

          {% endif %}

          {% if article.publier == 0 %}

            <tr class="trstylemodo">
                <td>{{ article.titre }}</td>
                <td >{{ article.datePublication | date('Y-m-d')}}</td>
                <td>{{ article.rubrique.nom}}</td>
                <td>{{ article.utilisateur.pseudo}}</td>
            </tr>

          {% endif %}
    
          {% else %}
          
        {% endfor %}


        </table>

        <div class="zonesuppr">
          <div class="zoneiconsuppr">

            {% for article in articles %}
              <a href="{{ path('nsp_back_publier', {'id': article.id}) }}"><img class="ajoutart" src="{{ asset('ressources/ajoutart.png') }}"></img></a>
              <a href="{{ path('nsp_article_add_champs_article', {'id': article.id}) }}"><img class="crayon" src="{{ asset('ressources/crayon.png') }}"></img>   </a>
            {% endfor %}
           
          </div> 
        </div>
                
        
    </div>
    
<!--Fin du premièr tableau     -->
     
    <div class="zoneusers">
        
         <table class="tabarticle">

               <tr class="entete">
                   <th class="thead">Article</th>
                   <th class="thead">Date</th>
                   <th class="thead">Rubrique</th>
                   <th class="thead">Auteur</th>
               </tr> 
                

              {% for commentaire in commentaires %}

                  <tr class="trstyle">
                     <td>{{commentaire.article.titre }}</td>
                     <td >{{commentaire.date | date('Y-m-d') }}</td>
                     <td>{{commentaire.article.rubrique.nom }}</td>
                     <td>FOS</td>
                 </tr>

                  <tr class="trstyle">
                      <td class="com" colspan="4">{{ commentaire.texte }}</td>
                  </tr>
          
                {% else %}
                
              {% endfor %}

                   
                
        </table>
        
      <div class="zonesuppr">
          <div class="zoneiconsuppr">

          {% for commentaire in commentaires %}
              <a class="supplien" href="#"><img class="crayon" src="{{ asset('ressources/crayon.png') }}"></img></a> 
              <a class="supplien" href="{{ path('nsp_back_supprimer_commentaire', {'id': commentaire.id}) }}"><img class="supp" src="{{ asset('ressources/iconsupp.png') }}"></img></a>
          {% endfor %}   
          </div> 
        
        </div> 
    </div>
    
</div>   

</div>

{% endblock %}